html {
    background: url('../../images/landing-Page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

body {
    margin: 0px;
}


// .container {
//     font-family: sans-serif;
    

//     .Title {
//         // color: #f9f2c1;
//     }
//     h5 {
//         color:#a5e0f3;
//     }
// }


  


